@font-face {
    font-family: 'BebasNeue';
    src: url('./BebasNeue.otf');
}

.landing{
    background-image: url('../images/landingpic.png');
    background-repeat: no-repeat;
    background-size: 125%;
}

.button-landing{
    margin: 50px;
}

.the-button {
    margin: 5px;
}

.tagline {
    color: white;
    font-size: 80px;
    padding-top: 59px;
    font-family: 'BebasNeue';
}


.blue-background {
    background: linear-gradient(68deg, rgba(0, 0, 0, 0.6) 0%, rgba(99, 131, 132, 0.6) 100%);
    padding-top: 160px;
    padding-bottom: 241px;
}

@media screen and (max-width: 992px) {
    .tagline {
        color: white;
        font-size: 39px;
        padding-top: 59px;
        font-family: 'BebasNeue';
    }
    .landing{
        background-image: url('../images/landingpic.png');
        background-repeat: no-repeat;
        background-size: 304%;
    }
    .blue-background {
        background: linear-gradient(68deg, rgba(0, 0, 0, 0.6) 0%, rgba(99, 131, 132, 0.6) 100%);
        padding-top: 130px;
        padding-bottom: 271px;
    }
  }

