@import url('https://fonts.googleapis.com/css?family=Raleway');

.landing{
    background-image: url('../images/landingpic.png');
    background-repeat: no-repeat;
    background-size: 125%;
}
/* .landing {
    background-image: url('../images/water.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
} */

.button-landing{
    margin: 50px;
}

.the-button {
    margin: 15px;
    padding: 15px;
    width: 180px;
}

.button-divider {
    margin:8px;
}

.tagline {
    color: white;
    font-size: 65px;
    padding-top: 31px;
    padding-bottom: 9px;
    font-family: 'Raleway', serif;
}


.blue-background {
    background: linear-gradient(68deg, rgba(0, 0, 0, 0.6) 0%, rgba(99, 131, 132, 0.6) 100%);
    padding-top: 160px;
    padding-bottom: 241px;
}

@media screen and (max-width: 992px) {
    .tagline {
        color: white;
        font-size: 39px;
        padding-top: 39px;
        font-family: 'Raleway', serif;
    }
    .landing{
        background-image: url('../images/landingpic.png');
        background-repeat: no-repeat;
        background-size: 304%;
    }

    /* .landing {
        background-image: url('../images/water.jpg');
        background-repeat: no-repeat;
        background-size: 277%;
    } */
    
    .blue-background {
        background: linear-gradient(68deg, rgba(0, 0, 0, 0.6) 0%, rgba(99, 131, 132, 0.6) 100%);
        padding-top: 130px;
        padding-bottom: 271px;
    }
  }

