.center {
    margin-left: 500px;
    margin-right: 500px;
}

.price-tag {
    margin-top: 100px;
    font-size: 20px;
}

.button-settings {
    margin-bottom: -20px;   
}

.submit-button {
    margin-top: 10px;
}