.navigation {
    background: rgb(34,193,195);
    background: linear-gradient(68deg, rgb(35, 204, 206) 0%, rgba(83, 207, 208, 0.67) 100%);
}

img.ui.image.logo{
    width: 60px;
    height: 60px;
    margin: 0px;
}

.wrapper-logo{
    size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.wrapper-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 3%;
}
@media screen and (max-width: 992px) {
.wrapper-menu {
margin-left: 7%;
margin-top: 14%;
}
}