.navigation {
    background: rgb(34,193,195);
    background: linear-gradient(68deg, rgb(35, 204, 206) 0%, rgba(83, 207, 208, 0.67) 100%);
}

img.ui.image.logo{
    width: 134px;
    margin-top: 10px;
}

.wrapper-logo{
    size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.wrapper-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5.2%;
    margin-top: 4.4%;
}

@media screen and (max-width: 1024px) {
    .wrapper-menu {
        margin-left: 6%;
        margin-top: 6.3%;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-menu {
        margin-left: 6%;
        margin-top: 8.3%;        
    }
}

@media screen and (max-width: 425px) {
    .wrapper-menu {
        margin-left: 9%;
        margin-top: 15.3%;
        }
}



