.navigation {
    background: rgb(34,193,195);
    background: linear-gradient(68deg, rgba(34,193,195,1) 0%, rgba(138,254,255,1) 100%);
}

img.ui.image.logo{
    width: 60px;
    height: 60px;
    margin: 0px;
}

.wrapper-logo{
    size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.wrapper-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 2%;
}